extends layout

block content
    header
        nav.container
            div.nav-wrapper
                h4.center.logo.brand-logo.
                    FXPIPPETTE
                ul.right
                    unless user
                        li.navi
                            a(href='/auth/register') Register
                        li
                            a(href='/auth/login') Login
                    if user
                        li
                            a(href='#' data-target='db' class='sidenav-trigger show-on-large pulse') #[i(class='material-icons') menu]Dashboard
                            ul(class='sidenav sidenav-fixed red accent-2 black-text' id='db')
                                li=user.fullName
                                li
                                    div.user-view.black-text
                                        div.background
                                            img(src='images/flyer-200.jpg' class='responsive-image z-depth-0')
                                        img(src=user.imageUrl class='circle')
                                        a(href='#user' class='black-text')=user.fullName
                                        a(href='#user' class='black-text')=user.email
                                li
                                    ul.collapsible.collapsible-accordion.black-text
                                        li.active
                                            a(href='#', class='collapsible-header') Account Details
                                                i.material-icons arrow_drop_down
                                            div.collapsible-body
                                                ul.collection
                                                    li.collection-item Initial Deposit: #{user.initialDeposit}
                                                    li.collection-item Referral Bonus:  #{bonus}
                                                    li.collection-item Current Total: #{currentAmount}
                                                progress(max='25' value=`${user.getDaysLeft()}`)
                                li
                                    div.divider

                                li
                                    ul(class='collapsible collapsible-accordion')
                                        li
                                            a(href='#' class='collapsible-header') Referrals
                                                i(class="material-icons ") arrow_drop_down
                                            div.collapsible-body
                                                ul.collection
                                                    each value in refs
                                                        li.collection-item=value
                                                    else
                                                        p You Have No Referrals Yet
                                li
                                    a(href='/users/deposit') Deposit
                        li
                            a(href='/auth/logout') Logout
    main
        div.container
            br
            div.row
                p.col.s12.l12.responsive-text.
                    FxPippet is a Forex investment Heaven where you can Safely invests your money and be assured of a 15 percent turn over
                    Our goal is to provide a safe investment platform where you can invest your money and be gauareented of returns. We have at your service seasoned and experience
                    forex experts who are committed to insuring you get the best reward for your investment. We are willing and capable of carrying all risks associated with forex trading
                    and assure you profit no matter what. see your investment options.




